bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/**/appsettings.Development.json
/.idea
.vs/
/CodeHub.sln.DotSettings.user
**/*/TestResults
*.user
/src/frontend/CodeHub.Portal/CodeHub.Portal.csproj.user
/src/backend/CodeHub.Api/CodeHub.Api.csproj.user
coverage-report