name: codehub
services:
  backend:
    build:
      context: ./src
      dockerfile: Backend.Dockerfile
    ports:
      - "8080:8080"
    develop:
      watch:
        - action: sync+restart
          path: ./src/backend
          target: /src/backend
  
  frontend:
    build:
      context: ./src
      additional_contexts:
        backend: ./src/
      dockerfile: Frontend.Dockerfile
    depends_on:
      - backend
    ports:
      - "8090:8080"
    develop:
      watch:
        - action: sync+restart
          path: ./src/frontend
          target: /src/frontend