name: codehub
services:
  api:
    build:
      context: .
      dockerfile: Api.Dockerfile
    ports:
      - "8080:8080"
    develop:
      watch:
        - action: sync+restart
          path: ./src/backend
          target: /src/backend
  
  portal:
    build:
      context: .
      dockerfile: Portal.Dockerfile
    depends_on:
      - api
    ports:
      - "8090:8080"
    develop:
      watch:
        - action: sync+restart
          path: ./src/frontend
          target: /src/frontend